.dropdown {
    display: inline-block;
    position: absolute;
    right: calc(5vw + 50px);
    top: 25px;
    padding: 0;
}


.key {
    width: 50px;
    height: 50px;
    background-color: teal;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 25px;
    right: 15vw;
}

.key:hover {
    cursor: pointer;
}
